@use '@/assets/scss/variables.scss' as *;
%h1 {
    font-family: $font-family;
    font-size: 33px;
    font-weight: 500;
    color: #000000;
}
%h2 {
    font-family: $font-family;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    color: #000000;
}
%h4 {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #a18a68;
}
%focus-line {
    padding-bottom: 18px;
    color: #000000;
    border-bottom: 3px solid;
    transition:
        border-color 0.5s ease,
        color 0.5s ease;
}

%button-black {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
    border-radius: 4px;
}
