@use "./fonts.scss" as *;
@use "./reset.scss" as *;
@use "./variables.scss" as *;

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 96px;

  @media (min-width: $breakpoints-m) {
  }
  @media (min-width: $breakpoints-l) {
  }
  @media (min-width: $breakpoints-xl) {
  }
  @media (min-width: $breakpoints-xxl) {
  }
}
